---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="RenovaBit">
	<section class="container flex flex-col justify-center items-center flex-1">
		<h1 class="text-primary text-4xl font-bold">RenovaBit</h1>
		<p>Reparamos tu laptop, mejoramos tu equipo y cuidamos tu inversión con la más alta calidad</p>
	</section>
</BaseLayout>
